<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Messages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1>Messagerie</h1>
        <div id="chat-log"></div>
        <input type="button", id="chat-message-input">
        <input type="button", id="chat-message-submit" value="Send">
        <script>
            const userId = "{{ user.id }}"
        </script>
        
    </body>
</html>